src/**
.git
.gitignore
coverage/
node_modules/
*.test.ts
*.test.tsx
vite.config.ts
vitest.config.ts
vitest.config.backend.ts
tsconfig.json
test_plan.md
.prettierrc
.eslintrc
package-lock.json
**/*.ts
**/*.tsx
!dist/**